.navbar-brand{

    font-size: 22px;
    font-weight: 600;
    }
    
    .form-check-label{
    
    font-size: 19px;
    
    }

    h6 {
        display: inline;
      }

      .card-img-top {
        width: 100%; /* Establece el ancho que desees, como por ejemplo "200px" */
        height: 200px; /* Esto asegura que la relación de aspecto de la imagen se mantenga */
        object-fit: fill;
      }

      