<body [ngClass]="{ 'dark-mode-body': isDarkMode }">
  <nav
    class="navbar navbar-expand-lg d-flex align-items-center"
    [ngClass]="{ 'navbar-dark': isDarkMode }"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Where in the world</a>
      <div class="letter" id="navbarSupportedContent">
        <!-- Dark Mode -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault"
            (change)="toggleDarkMode($event)"
          />
          <label
            class="form-check-label"
            [ngClass]="{ 'white-text': isDarkMode }"
            for="flexSwitchCheckDefault"
            >Dark Mode</label
          >
        </div>
      </div>
    </div>
  </nav>
  
  <div class="row filters">

      <div class="col">
        <div class="input-group mb-3 d-flex justify-content-start mt-3 ms-3">
          <input
            type="text"
            class="form-control-sm filtro border rounded"
            placeholder="Search a country"
            aria-label="Example text with button addon"
            aria-describedby="button-addon1"
            [(ngModel)]="filtroNombre"
            (input)="filtrarporNombre()"
          />
        </div>
      </div>

      <div class="col">
        <div>
          <div class="selector d-flex justify-content-end me-4 mt-3">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select-sm example"
              (change)="filtrarPorRegion($event)"
            >
              <option class="FilterRegion">Filter by Region</option>
              <option *ngFor="let continent of continentes" [value]="continent">
                {{ continent }}
              </option>
            </select>
          </div>
        </div>
      </div>
    
    </div>
  

  <main class="container-fluid mt-5">
    <section class="row">
      <!-- Panel 1 -->
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let country of data">
        <div class="zonaBanderas d-flex justify-content-center">
          <div class="card">
            <img [src]="country?.flags.svg" class="card-img-top" alt="..." />
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5>{{ country?.name.common }}</h5>
                </li>
                <li class="list-group-item">
                  <h6>Population:</h6>
                  {{ country?.population }}
                </li>
                <li class="list-group-item">
                  <h6>Region:</h6>
                  {{ country?.region }}
                </li>
                <li class="list-group-item">
                  <h6>Capital:</h6>
                  {{ country?.capital }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
