@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Noto+Sans:wght@300&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

/* 
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif; */




.navbar-brand{

    font-size: 22px;
    font-weight: 600;
    }
    
    .form-check-label{
    
    font-size: 19px;
    
    }

    h6 {
        display: inline;
      }

      .card-img-top {
        width: 100%; /* Establece el ancho que desees, como por ejemplo "200px" */
        height: 200px; /* Esto asegura que la relación de aspecto de la imagen se mantenga */
        object-fit: cover;
        
      }


      .card{

        width: 100px;
        
      }


      .input-group{
        height: 20px;

      }

      .form-select{

        height: 35px;
        width: 150px;

      }
    
      .card{
        width: 19rem;
        
      }

      .dark-mode-body {

        background-color: hsl(209, 23%, 22%);

      }

      body{

        background-color: hsl(0, 0%, 98%) ;

      }

      .navbar{

        background-color: white;
      }

      .navbar-dark{

        background-color: hsl(209, 23%, 22%);
      }

      .white-text {
        color: white;
      }

      


      