<nav class="navbar navbar-expand-lg bg-light d-flex align-items-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Where in the world</a>
    <div class="letter" id="navbarSupportedContent">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Dark Mode</label
        >
      </div>
    </div>
  </div>
</nav>

<section class="filters d-flex justify-content-space-between">

<div class="input-group mb-3 pt-4">
  <button class="btn btn-outline-secondary border-0 " type="button" id="button-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></button>
  <input type="text" class="form-control-sm" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>

<div class="selector mb-3 pt-4 pe-5">
  <select class="form-select form-select-lg" aria-label=".form-select-sm example">
    <option selected>Filter by Region</option>
    <option value="1">Africa</option>
    <option value="2">America</option>
    <option value="3">Asia</option>
    <option value="3">Europe</option>
    <option value="3">Oceania</option>
  </select>
</div>
</section>


<main class="container-fluid mt-5">
  <section class="row">
    <!-- Panel 1 -->
    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let country of data">
      <div class="zonaBanderas d-flex justify-content-center">
        <div class="card" style="width: 19rem;">
          <img [src]="country?.flags.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>{{ country?.name.common }}</h5></li>
            <li class="list-group-item"><h6>Population: </h6>{{ country?.population }}</li>
            <li class="list-group-item"><h6>Region: </h6>{{ country?.region }}</li>
            <li class="list-group-item"><h6>Capital: </h6>{{ country?.capital }}</li>
          </ul>
            </div>
          
        </div>
      </div>
    </div>
  </section>
</main>

