<nav class="navbar navbar-expand-lg bg-light d-flex align-items-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Where in the world</a>
    <div class="letter" id="navbarSupportedContent">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Dark Mode</label
        >
      </div>
    </div>
  </div>
</nav>

<main class="container-fluid mt-5">
  <section class="row">
    <!-- Panel 1 -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="zonaBanderas d-flex justify-content-center">
        <div class="card" style="width: 19rem;">
          <img src="https://flagcdn.com/w320/ps.png" class="card-img-top" alt="...">
          <div class="card-body">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
          </ul>
            </div>
          
        </div>
      </div>
    </div>

    <!-- Panel 2 -->
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="zonaBanderas2 d-flex justify-content-center">
        <div class="card" style="width: 19rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Panel 3 -->

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="zonaBanderas3 d-flex justify-content-center">
        <div class="card" style="width: 19rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Panel 4 -->

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="zonaBanderas4 d-flex justify-content-center">
        <div class="card" style="width: 19rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
        </div>
      </div>
    </div>

  </section>
</main>

<!-- Codigo para traernos los datos de JSON -->